.demo-logo-vertical {
  height: 90px;
  background: #711DB0;
  margin: 0;
  position: relative; /* เพิ่มคุณสมบัติ position */
}
.demo-logo-vertical::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}


.ant-menu-item-selected {
  background-color: #711DB0 !important;
}

.ant-layout-content {
  overflow-y: auto;
}
body {
  margin: 0;
  padding: 0;
}
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.layout > .ant-layout {
  flex: 1;
  overflow-y: auto;
}
.layout > .ant-layout > .ant-layout-header {
  flex: 0 0 auto;
}
.layout > .ant-layout > .ant-layout-content {
  flex: 1;
  overflow-y: auto;
}

.header-top {
  background-color: #711DB0; /* สีพื้นหลังส่วนบน */
  height: 77px; /* ความสูงของส่วนบน */
  border-left: 1px solid white; /* เส้นขาวทางด้านซ้าย */
  position: relative; /* เพิ่มคุณสมบัติ position */
}
.header-top .logout-icon {
  position: absolute;
  top: 50%;
  right: 1.5%;
  transform: translateY(-50%);
}
.divider {
  height: 1px;
  background-color: white;
}
.header-bottom {
  background-color: #253141; /* สีพื้นหลังส่วนล่าง */
  height: 46px; /* ความสูงของส่วนล่าง */
  border-left: 1px solid white; /* เส้นขาวทางด้านซ้าย */
}
