.top-menu {
  height: 90px;
  background: #711DB0;
  margin: 0;
  position: relative; /* เพิ่มคุณสมบัติ position */
  border-bottom: 1px solid white; /* เส้นขาวทางด้านล่าง */
}
.top-menu .avatar {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.top-menu .role-topmenu {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translateY(-50%);
}
.top-menu .username-topmenu {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translateY(-50%);
}

.ant-menu-item-selected {
  background-color: #711DB0 !important;
}

/* fit หน้าจอพอดีเมื่อมีขนาดเล็กสามารถเลื่อนได้ */
.ant-layout-content {
  overflow-y: auto;
}
body {
  margin: 0;
  padding: 0;
}
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.layout > .ant-layout {
  flex: 1;
  overflow-y: auto;
}
.layout > .ant-layout > .ant-layout-header {
  flex: 0 0 auto;
}
.layout > .ant-layout > .ant-layout-content {
  flex: 1;
  overflow-y: auto;
}
/* fit หน้าจอพอดีเมื่อมีขนาดเล็กสามารถเลื่อนได้ */

.header-top {
  background-color: #711DB0; /* สีพื้นหลังส่วนบน */
  height: 77px; /* ความสูงของส่วนบน */
  border-left: 1px solid white; /* เส้นขาวทางด้านซ้าย */
  position: relative; /* เพิ่มคุณสมบัติ position */
}
.header-top .logout-icon {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}
.header-top .search-icon{
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 300px;
}
.header-top .notification-button{
  position: absolute;
  top: 50%;
  left: calc(2% + 300px + 2%);
  transform: translateY(-50%);
}
.divider {
  height: 1px;
  background-color: white;
}
.header-bottom {
  position: relative;
  background-color: #253141; /* สีพื้นหลังส่วนล่าง */
  height: 46px; /* ความสูงของส่วนล่าง */
  border-left: 1px solid white; /* เส้นขาวทางด้านซ้าย */
}
.header-bottom .namepage {
  position: absolute;
  top: 45%;
  left: 1%;
  font-size: 20px;
  transform: translateY(-50%);
}